# data file and generated reference solution to compare against.
measurements*.txt
correct_results*.txt
# actual solution
solution*.txt

# profiling data
cpu.prof

# local helper script
run_all.sh

# generated binaries
go_single_thread
go_single_thread_arrays
go_single_thread_arrays_64bit_ints
go_single_thread_arrays_single_parse
go_single_thread_single_parse_II
go_single_thread_profiling
go_single_thread_parsing
go_single_thread_variables
