# data file and generated reference solution to compare against.
measurements*.txt
correct_results*.txt
# actual solution
solution*.txt

# profiling data
cpu.prof
mem.prof
trace.prof

# local helper script
run_all.sh

# MacOS specific
.DS_Store

# Haskell tmp directories
exe/
exe-bodi/

# generated binaries
go_single_thread
go_single_thread_arrays
go_single_thread_arrays_64bit_ints
go_single_thread_arrays_single_parse
go_single_thread_single_parse_II
go_single_thread_profiling
go_single_thread_parsing
go_single_thread_variables
go_parallel_preparation
go_parallel
go_parallel_thread_factor
go_parallel_II
go_parallel_xx
go_parallel_III
dist-newstyle/
.stack-work/
haskell_single_I
haskell_single_h
haskell_single_b
go_parallel_trace
go_parallel_fnv
go_parallel_eq
c_parallel
